<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/pagination.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="/scripts/jquery.pagination.js"></script>

</head>
<body>
<div>
    <table class="table">
        <thead><tr><th>学号</th><th>姓名</th><th>部门</th></tr></thead>
        <tbody id="content"></tbody>
    </table>
    <div class="m-style M-box4"></div>
</div>
<script>
    var tbody="";
    $(function () {
        var data = {
            PageNum: 1,
            PageSize: 5,
        };
        get(data);
    })
    $('.M-box4').pagination({
        pageCount: 50,
        jump: true,
        callback: function (api) {
            var data = {
                PageNum: api.getCurrent(),
                PageSize: 5,
            };
            get(data);
        }
    });
    function get(data) {
        $.getJSON('http://localhost:9090/helloworld', data, function (data) {
            console.log(data);
            var list=new Array();
            list=data.list;
            for(var i=0;i<list.length;i++){
                var trs="";
                trs += "<tr><td>" + list[i].id + "</td> <td>" + list[i].name+ "</td> <td>" + list[i].descr+ "</td></tr>";
                tbody+=trs;
            }
            $("#content").html(tbody);
            tbody="";
        });
    }
</script>
</body>

</html>